<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>PREP 15-19</title>

    {{ partial "head.html" . }}

    <body class="body-style-4">
      {{ partial "header.html" . }}

      {{ with .Site.GetPage "/duvidas" }}
      <div class="container">
        <article class="faq" id="{{ .Params.id }}">

            {{ with .Title }}
              <h1>{{ . }}</h1>
            {{ end }}

            {{ .Content }}

            {{ with .Resources }}
              <section class="faq__questions">
                {{ range . }}
                <div class="faq-item">
                  <h2 class="faq-item__question">{{ .Title }}</h2>
                  <div class="faq-item__answer">
                    {{ .Content }}
                  </div>
                </div>
                {{ end }}
              </section>
            {{ end }}
            <button class="js-back-to-top faq__back-to-top">Voltar ao topo</button>
        </article>
      </div>
      {{ end }}

      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    </body>
</html>

