<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>PREP 15-19</title>

    {{ partial "head.html" . }}

    <body class="body-style-4">
      {{ partial "header.html" . }}

      <div class="container container--flex">
        <article class="faq">
          <h1>{{ .Title }}</h1>
          {{ .Content }}
        </article>

        {{ with (where $.Site.Pages "Type" "duvidas") }}
          {{ range (where $.Site.Pages "Type" "duvidas") }}
            <article class="faq" id="{{ .Params.id }}">

                {{ with .Title }}
                  <h2>{{ . }}</h2>
                {{ end }}

                {{ .Content }}

                {{ with .Resources }}
                  <section class="faq__questions">
                    {{ range . }}
                    <div class="faq-item">
                      <h2 class="faq-item__question">{{ .Title }}</h2>
                      <div class="faq-item__answer">
                        {{ .Content }}
                      </div>
                    </div>
                    {{ end }}
                  </section>
                {{ end }}
            </article>
          {{ end }}
        {{ end }}
        <button class="js-back-to-top back-to-top">Voltar ao topo</button>
      </div>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}

    </body>
</html>

