{{ partial "head.html" . }}

    <body class="body-style-4">
      {{ partial "header.html" . }}

      <style>
          .report {
          }

          .report__item {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .report__item-intern {
            display: flex;
            flex: 1 0 12%;
            flex-direction: column;
            width: 12%;
            min-width: min-content;
            padding: 1rem;
            margin: 0.4em;
            text-align: center;
            border-radius: 5px;
            background: #fff;
          }

          .report__item-intern:nth-child(2) {
            margin-left: 0;
          }

          .report__item-intern:last-child {
            margin-right: 0;
          }

          .report__item h1 {
            width: 100%;
            margin-top: 1em;
            margin-bottom: 0.2em;
            text-transform: capitalize;
            font-size: 2em;
            color: #fff;
          }

          .report__item p {
            font-size: 1.5em;
            margin-top: auto;
          }
      </style>

      <div class="container container--flex">
        <article class="faq">
          <h1>{{ .Title }}</h1>
        </article>

        <article class="report">
        </article>
      </div>

      <script>
        {{ if eq (getenv "CONTEXT") "production" }}
          const security_token = {{ getenv "SECURITY_TOKEN" }}
          const api = 'https://api-prep.appcivico.com/api/'
        {{ else }}
          const security_token = {{ getenv "DEV_SECURITY_TOKEN" }}
          const api = 'https://dev-prep-api.appcivico.com/api/'
        {{ end }}


        function sortObjects(data, attr) {
          var arr = [];
          for (var prop in data) {
            if (data.hasOwnProperty(prop)) {
              var obj = {};
              obj[prop] = data[prop];
              obj.tempSortName = data[prop][attr];
              arr.push(obj);
            }
          }

          arr.sort(function(a, b) {
            var at = a.tempSortName,
              bt = b.tempSortName;
            return at > bt ? 1 : ( at < bt ? -1 : 0 );
          });

          var result = [];
          for (var i=0, l=arr.length; i<l; i++) {
            var obj = arr[i];
            delete obj.tempSortName;
            for (var prop in obj) {
              if (obj.hasOwnProperty(prop)) {
                var id = prop;
              }
            }
            var item = obj[id];
            result.push(item);
          }
          return result;
        }

        fetch(api + 'report?security_token=' + security_token, {
          method: 'get'
        })
        .then((response) => response.json())
        .then((data) => {
          $reportList = document.querySelector('.report');

          data.cities.forEach((city) => {

            const $item = document.createElement('section');
            const $title = document.createElement('h1');

            $item.className = 'report__item';

            $title.textContent = Object.keys(city)[0];

            $item.append($title);

            let sorted = {};

            for (const key of Object.keys(city)) {
              sorted = sortObjects(city[key], 'display_order')
              sorted.forEach(item => {
                console.log(item);

                const $itemIntern = document.createElement('div');
                const $subtitle = document.createElement('h2');
                const $text = document.createElement('p');

                $itemIntern.className = 'report__item-intern';

                $subtitle.textContent = item.label;
                $text.textContent = item.value;

                $itemIntern.append($subtitle);
                $itemIntern.append($text);

                $item.append($itemIntern);

                $reportList.append($item);
              })
            }
          })
        })
        .catch(function(err) {
          console.log('Error :(')
        });


      </script>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}

    </body>
</html>

