<footer class="site-footer">
  <!--
  <div class="container">
    {{ with $.Site.Data.socialMedia }}
    <ul class="social">
        {{ range .list }}
        <li>
          <a href="{{ .url }}" title="{{ .name }}" rel="noopener" class="{{ .name }}">{{ .name }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
  </div>
  -->
  <div class="footer__partners">
    <div class="container">
      <p>Realização e parceiros</p>
      {{ with $.Site.Data.partners }}
        <ul class="footer__partners-list">
          {{ range .list }}
            <li>
              <a href="{{ .url }}" title="{{ .name }}" rel="noopener" class="{{ .cssClass }}">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
      <div class="footer__by">
        <p>Desenvolvido por <a href="https://appcivico.com" target="_blank">AppCívico</a></p>
      </div>

      <div class="contact">
        <a href="mailto:contato@prep1519.org" class="site-footer__email">
          contato@prep1519.org
        </a>
      </div>
    </div>
  </div>
</footer>
