<div class="container">
  <header class="main-header {{ if not .IsHome }}  intern-header {{ end }}">
    <nav class="main-nav">
      <ul class="menu">
        {{ with .Site.Menus.header }}
          {{ range . }}
          <li {{ if or ($.IsMenuCurrent "header" .) ($.HasMenuCurrent "header" .) }} class="active"{{ end }}>
            <a href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
    <a href="http://prerp1519brasil.com.br/" class="prep-logo"></a>
  </header>
</div>
