{{ partial "head.html" . }}

    <body class="body-style-1">
      <div class="bg-gradient"></div>

      {{ partial "header.html" . }}

      <div class="container main-slider-container">
        <ul class="main-slider">
          <li class="main-slider__slide">
            <div class="main-slider__slide-content">
              <h1>
                <span class="block">VC</span>
                <span class="destak block">PREP@?</span>
              </h1>
              <span class="hashtag">
                <span class="hashtag__destak-text">#</span>PREP
                <span class="hashtag__destak-text">@</span>amandaselfie.bot
              </span>
            </div>
          </li>
          <li class="main-slider__slide">
            <div class="main-slider__slide-content">
              <h2>
                <span class="block">Nó...</span>
                DEU <span class="destak">MATCH!</span>
              </h2>
              <span class="hashtag">
                <span class="hashtag__destak-text">#</span>PREP
                <span class="hashtag__destak-text">@</span>amandaselfie.bot
              </span>
            </div>
          </li>
          <li class="main-slider__slide">
            <div class="main-slider__slide-content">
              <h3>
                <span class="block">
                  <span class="destak">Prep</span>ara
                </span>
                 Salvador
              </h3>
              <span class="hashtag">
                <span class="hashtag__destak-text">#</span>PREP
                <span class="hashtag__destak-text">@</span>amandaselfie.bot
              </span>
            </div>
          </li>
        </ul>
      </div>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}
    </body>
</html>
