<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>PREP 15-19</title>

    {{ partial "head.html" . }}

    <body class="body-style-1">
      <div class="bg-gradient"></div>

      {{ partial "header.html" . }}

      <div class="container main-slider-container">
        <ul class="main-slider">
          <li class="main-slider__slide main-slider__slide--hashtag">
            <div class="main-slider__slide-content">
              <h1>
                amanda selfie
              </h1>
              <span class="hashtag"><span class="hashtag__destak-text">#</span>tira<span class="hashtag__destak-text">neura</span></span>
            </div>
          </li>
          <li class="main-slider__slide main-slider__slide--text-overflow">
            <div class="main-slider__slide-content">
              <h2>
                se
                <span class="white-text">combinar</span>
                direitinho...
              </h2>
              <small>
                todo mundo
                se informa!
              </small>
            </div>
          </li>
          <li class="main-slider__slide main-slider__slide--hashtag-alternative">
            <div class="main-slider__slide-content">
              <h3>
                vem de prep, bb!
              </h3>
              <span class="hashtag"><span class="hashtag__destak-text">#</span>arrasou</span>
            </div>
          </li>
        </ul>
      </div>

      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>


      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>
      <script>
        let slider;
        if (window.matchMedia('(min-width: 1024px)').matches) {
          slider = tns({
            container: '.main-slider',
            controls: false,
            // center: true,
            axis: 'vertical',
            navPosition: 'bottom',
            autoplayButtonOutput: false,
            // autoplay: true,
            autoplay: false,
          });
        } else {
          slider = tns({
            container: '.main-slider',
            controls: false,
            // center: true,
            // axis: 'vertical',
            navPosition: 'bottom',
            autoplayButtonOutput: false,
            // autoplay: true,
            autoplay: false,
          });
        }

        slider.events.on('transitionStart', handleBannerChange);
        function handleBannerChange(info, eventName) {
          console.log(info.displayIndex);
          document.querySelector('body').className = `body-style-${info.displayIndex}`;
        }
      </script>

    </body>
</html>
